{
  "presets": [["next/babel"]],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@config": "./config",
          "@components": "./components",
          "@tools": "./tools",
          "@utils": "./utils"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
